@import "./variables.scss";
@import "./mixin.scss";

.login-container {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    color: $white;
    margin: 0;
    padding: 0;
    .login-wrapper {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/home/home-screen.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: 10vh 65vh 25vh;
        header {
            display: grid;
            align-content: center;
            align-items: center;
            svg {
                margin-left: 3vw;
                @include logo;
            }
        }
        .login-body-container {
            height: 100%;
            width: 100%;
            display: grid;
            justify-content: center;
            justify-items: center;
            .login-body {
                border-radius: 4px;
                box-sizing: border-box;
                margin-bottom: 25px;
                width: 450px;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 60px;
                display: grid;
                grid-auto-flow: rows;
                align-content: start;
                justify-content: start;
                grid-gap: 30px;
                .title {
                    font-weight: $font-weight-bold;
                }
                .form-wrapper {
                    display: grid;
                    grid-auto-flow: rows;
                    align-content: space-between;
                    grid-gap: 16px;
                    .form-container {
                        box-sizing: border-box;
                        max-width: calc(450px - 120px);
                        .form-field {
                            .form-field-control {
                                background-color: $dark-slate-gray;
                                border-radius: 4px;
                                label {
                                    font-size: $font-size-normal-medium;
                                    background-color: transparent;
                                }
                                input {
                                    background-color: transparent;
                                    border-bottom: 1px solid $dark-slate-gray;
                                    color: $white;
                                }
                            }
                            &--is-active {
                                .form-field-control {
                                &::after {
                                    transform: scaleX(150);
                                }
                                .form-field-label {
                                    color: $dim-gray;
                                    font-weight: $font-weight-normal;
                                    @include label-active();
                                    }
                                }
                            }
                        }
                        .helperText {
                            font-size: $font-size-footer;
                        }
                    }
                }
            }
        }
        footer {
            width: 100vw;
            color: $dim-gray;
            padding-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.75);
            .site-footer {
                display: grid;
                grid-template-rows: auto auto auto;
                grid-gap: 10px;
                align-content: space-between;
                margin: 0 auto;
                width: 90%;
                padding: 30px 0;
                .phone-number {
                    margin-bottom: 30px;
                    a {
                        color: $dim-gray;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .site-footer-link {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 25%);
                    justify-content: space-between;
                    .col {
                        display: grid;
                        grid-auto-flow: rows;
                        grid-gap: 20px;
                        align-content: space-between;
                        a {
                            color: $dim-gray;
                            text-decoration: none;
                            font-size: $font-size-footer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .select-arrow {
                    margin-top: 20px;
                    &::before {
                        background-color: $dim-gray;
                        mask-image: url(../images/icones/world.svg);
                    }
                    select {
                        border-color: $dim-gray;
                        background-color: $black;
                        color: $dim-gray;
                        option {
                            background-color: $black;
                        }
                    }
                }
            }
        }
    }
}