@import "./variables.scss";
@import "./mixin.scss";

.login-container {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    color: $white;
    margin: 0;
    padding: 0;
    .login-wrapper {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        max-height: min-content;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/home/home-screen.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: 8vh 72vh 20vh;
        header {
            display: grid;
            align-content: center;
            align-items: center;
            svg {
                margin-left: 3vw;
                @include logo;
            }
        }
        .login-body-container {
            height: 100%;
            width: 100%;
            display: grid;
            justify-content: center;
            justify-items: center;
            .login-body {
                border-radius: 4px;
                box-sizing: border-box;
                margin-bottom: 25px;
                width: 450px;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 60px;
                display: grid;
                grid-auto-flow: rows;
                align-content: start;
                justify-content: start;
                grid-gap: 30px;
                .title {
                    font-weight: $font-weight-bold;
                }
                .form-wrapper {
                    display: grid;
                    grid-auto-flow: rows;
                    align-content: space-between;
                    grid-gap: 16px;
                    .form-container {
                        box-sizing: border-box;
                        max-width: calc(450px - 120px);
                        .form-field {
                            .form-field-control {
                                background-color: $dark-slate-gray;
                                border-radius: 4px;
                                label {
                                    font-size: $font-size-normal-medium;
                                    background-color: transparent;
                                }
                                input {
                                    background-color: transparent;
                                    border-bottom: 1px solid $dark-slate-gray;
                                    color: $white;
                                }
                            }
                            &--is-active {
                                .form-field-control {
                                &::after {
                                    transform: scaleX(150);
                                }
                                .form-field-label {
                                    color: $dim-gray;
                                    font-weight: $font-weight-normal;
                                    @include label-active();
                                    }
                                }
                            }
                        }
                        .helperText {
                            font-size: $font-size-footer;
                        }
                    }
                    .login-btn {
                        background-color: $light-red;
                        color: $white;
                        font-size: $font-size-normal;
                        border-radius: 4px;
                        font-weight: $font-weight-bold;
                        margin: 24px 0 12px;
                        padding: 16px;
                        max-width: calc(450px - 120px);
                        text-align: center;
                    }
                    .rememberOrHelp {
                        color: $dim-gray;
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: space-between;
                        font-size: $font-size-footer;
                        .checkbox {
                            display: grid;
                            grid-template-columns: auto auto;
                            align-content: center;
                            align-items: center;
                            grid-gap: 5px;
                            position: relative;
                            input[type="checkbox"] {
                                width: 16px;
                                height: 16px;
                                border-radius: 2px;
                                background-color: $dim-gray;
                                cursor: pointer;
                            }
                        }
                        a {
                            color: $dim-gray;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .other-login-method {
                    display: grid;
                    gap: 15px;
                    color: $dim-gray;
                    .with-fb {
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: start;
                        grid-gap: 5px;
                        font-size: $font-size-footer;
                        align-items: center;
                        .fb-icon {
                            width: 20px;
                            height: 20px;
                            background-image: url("../images/auth/facebook.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .new-to-netflix {
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: start;
                        grid-gap: 5px;
                        a {
                            text-decoration: none;
                            color: $white;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .captcha {
                        font-size: $font-size-footer;
                        a {
                            color: $royal-blue;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.logout-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: space-between;
    background-image: url("../images/auth/logout.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    header {
        height: 90px;
        display: grid;
        align-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        justify-content: space-between;
        svg {
            margin-left: 3vw;
            @include logo;
        }
        .signIn-btn {
            margin-right: 3vw;
            background-color: $light-red;
            color: $white;
            font-size: 1rem;
            border-radius: 4px;
            padding: 7px 17px;
            text-align: center;
        }

    }
    .logout-body {
        width: 350px;
        background-color: $light-gray;
        padding: 30px 45px;
        color: $dark-slate-gray;
        line-height: 1.5;
        justify-self: center;
        display: grid;
        align-content: space-between;
        grid-gap: 20px;
        h2 {
            font-size: 2em;
            font-weight: $font-size-normal-medium;
        }
        .info-btn {
            box-sizing: border-box;
            font-size: 20px;
            padding: 10px 2em;
            min-width: 112px;
            min-height: 48px;
            background-color: $royal-blue;
            color: $white;
            text-align: center;
            box-shadow: 0 1px 0 rgb(0, 0, 0 / 55%);
            background-image: linear-gradient(to bottom,$blue-gradient-value-1,$blue-gradient-value-2);
            border-radius: 2px;
            letter-spacing: .1px;
        }

    }
}

.register-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: space-between;
    header {
        height: 90px;
        display: grid;
        align-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        justify-content: space-between;
        border-bottom: 1px solid $light-gray;
        svg {
            margin-left: 3vw;
            @include logo;
        }
        .login-link {
            margin-right: 3vw;
            font-weight: $font-weight-bold;
            font-size: $font-size-normal-medium;
            line-height: 90px;
            color: $dark-slate-gray;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    footer {
        border-top: 1px solid $light-gray;
        opacity: 1;
        margin-top: 0;
        background: $light-gray-background;
        .site-footer {
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            .select-arrow {
                select {
                    background-color: $white;
                    color: $dim-gray;
                    option {
                        background-color: $white;
                        color: $dim-gray;
                    }
                }
            }
        }
    }
    .stepper {
        width: 100vw;
        height: 600px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        justify-self: center;
      }

    .stepper-selector {
        color: $dark-slate-gray;
        position: absolute;
        height: 100%;
        display: inline-flex;
        top:0;
        .step-wrapper {
            width: 100vw;
            .step {
                height: 600px;
                width: 100%;
                display: grid;
                grid-auto-flow: row;
                justify-content: center;
                justify-items: center;
                align-content: center;
                align-items: center;
                background: $white;
                .stepHeader {
                    text-align: center;
                    p {
                        text-transform: uppercase;
                        font-size: $font-size-footer;
                        font-weight: $font-weight-demi-light;
                        span {
                            font-weight: $font-weight-semi-bold;
                        }
                    }
                    h2 {
                        max-width: 340px;
                        font-size: 23px;
                        font-weight: $font-weight-semi-bold;
                        margin: 0.4em 0;
                    }
                }
                .next-btn {
                    min-height: 48px;
                    font-weight: $font-weight-normal;
                    font-size: 17px;
                    border-radius: 2px;
                    line-height: 1;
                    min-width: 110px;
                    padding: 0.75rem 25.33px;
                    width: 100%;
                    color: $white;
                    background-color: $light-red;
                }
            }
            .stepItem-0 {
                width: 70%;
                margin: 0 auto;
                grid-gap: 20px;
                .step-container {
                    width: 40%;
                    .step-img {
                        margin: 0 auto;
                        width: 260px;
                        height: 90px;
                        background-image: url("../images/auth/register-step-1-Devices.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        align-self: end;
                    }
                    .stepBody {
                        font-size: 17px;
                        text-align: center;
                        p {
                            line-height: 1.2;
                            margin: 15px 0;
                        }
                    }
                }
            }

            .stepItem-1 {
                width: 100%;
                margin: 0 auto;
                grid-gap: 20px;
                .step-container {
                    width: 80%;
                    .stepHeader {
                        text-align: left;
                        h2 {
                            max-width: 440px;
                        }
                    }
                    .stepBody {
                        max-width: 440px;
                        text-align: left;
                        justify-content: start;
                        justify-items: start;
                        justify-self: start;
                        h3 {
                            font-size: 19px;
                        }
                        .simpleForm {
                            margin: 10px 0 20px;
                            .form-container {
                                margin-bottom: 10px;
                                .form-field {
                                    &-control {
                                        background-color: transparent;
                                        border: 1px solid $light-gray;
                                        border-radius: 2px;
                                    }
                                    &--is-empty {
                                        .form-field-control {
                                            border-color: $dark-red;
                                            &::after {
                                                border-bottom: 0px;
                                                transform: scaleX(0);
                                            }
                                        }
                                    }
                                }
                                .helperText {
                                    color: $dark-red;
                                }
                            }
                            .checkbox {
                                margin: 8px 0;
                            }
                        }
                    }
                }
            }

            .stepItem-2 {
                margin: 0 auto;
                grid-gap: 20px;
                .step-container {
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    width: 80%;
                    .stepHeader {
                        display: grid;
                        justify-content: center;
                        text-align: center;
                        h2 {
                            width: 100%;
                        }
                    }
                    .stepBody {
                        margin: 15px 0 20px 0;
                        .register-list {
                            display: grid;
                            align-content: space-between;
                            grid-gap: 20px;
                            width: 70%;
                            margin: 0 auto;
                            li {
                                font-size: 17px;
                                display: grid;
                                align-content: center;
                                align-items: center;
                                grid-template-columns: auto auto;
                                justify-content: start;
                                grid-gap: 20px;
                                line-height: 1.2;
                                svg {
                                    width: 24px;
                                    height: 24px;
                                    stroke: $light-red;
                                }
                            }
                        }
                    }
                    .next-btn {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }

            .stepItem-3 {
                margin: 0 auto;
                grid-gap: 20px;
                width: 100vw;
                height: 600px;
                align-content: start;
                align-items: start;
                overflow-y: scroll;
                .step-container {
                    display: grid;
                    justify-content: start;
                    justify-items: start;
                    width: 70vw;
                    height: 600px;
                    .stepHeader {
                        display: grid;
                        justify-content: start;
                        text-align: left;
                        h2 {
                            width: 100%;
                            max-width: 100%;
                        }
                        .register-list {
                            display: grid;
                            align-content: space-between;
                            grid-gap: 5px;
                            width: 100%;
                            margin: 0 auto;
                            li {
                                font-size: 17px;
                                display: grid;
                                align-content: center;
                                align-items: center;
                                grid-template-columns: auto auto;
                                justify-content: start;
                                grid-gap: 20px;
                                line-height: 1.2;
                                svg {
                                    width: 24px;
                                    height: 24px;
                                    stroke: $light-red;
                                }
                            }
                        }
                    }
                    .stepBody {
                        margin: 15px 0 20px 0;
                        .subscription-container {
                            .row {
                                color: $dim-gray;
                                display: grid;
                                grid-template-columns: 40% 20% 20% 20%;
                                justify-items: center;
                                height: 61px;
                                align-items: center;
                                user-select: none;
                                &-header {
                                    height: 114px;
                                }
                                .column {
                                    font-weight: $font-weight-bold;
                                    svg {
                                        width: 24px;
                                        height: 24px;
                                        stroke: $dim-gray;
                                    }
                                    &-label {
                                        color: $dark-gray;
                                        justify-self: start;
                                        font-weight: $font-weight-semi-bold;
                                    }
                                    &.active {
                                        color: $dark-red;
                                        svg {
                                            stroke: $dark-red;
                                        }
                                    }
                                    &-header {
                                        display: grid;
                                        justify-content: center;
                                        align-content: center;
                                        width: 90px;
                                        height: 90px;
                                        background-color: $dark-red;
                                        color: $white;
                                        opacity: .6;
                                        position: relative;
                                        &.active {
                                            opacity: 1;
                                            color: $white;
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                bottom: -22%;
                                                margin-left: -10px;
                                                left: 50%;
                                                z-index: 100;
                                                border: solid 10px transparent;
                                                border-right-color: red;
                                                transform: rotate(-90deg);
                                            }
                                        }
                                    }
                                }
                                &-with-border {
                                    border-bottom: 1px solid $light-gray;
                                }
                            }
                        }
                        .small-container {
                            font-size: $font-size-footer;
                            padding: 5px 0;
                            p {
                                padding: 5px 0;
                                a {
                                    text-decoration: none;
                                    color: $royal-blue;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    .next-btn {
                        width: 40%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1281px) {
    .login-container {
        height: 100%;
        .login-wrapper {
            min-height: 100vh;
            height: 100%;
            grid-template-rows: 8% 71% 21%;
            .login-body-container {
                align-self: center;
                .login-body {
                    margin-bottom: 75px;
                }
            }
            footer {
                align-self: end;
                height: max-content;
                .site-footer {
                    grid-gap: 5px;
                    padding: 10px 0;
                }
            }
        }
    }
    .logout-container {
        height: 100vh;
        header {
            justify-content: space-between;
            a {
                svg {
                    width: 5rem;
                    height: 1.4rem;
                }
            }
            .signIn-btn {
                margin-right: 3%;
            }
        }
        footer {
            justify-self: end;
        }
    }
}

@media (max-width: 823px) {
    .logout-container {
        height: 100%;
        header {
            width: 100vw;
            justify-content: space-between;
            gap: 5px;
            .signIn-btn  {
                margin-right: 3vw;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .logout-container {
        height: 100vh;
    }
}

@media only screen and (max-width: 736px) {
    .logout-container {
        height: 100%;
    }
}


@media only screen and (max-width: 567px) {
    .login-container {
        height: 100%;
        .login-wrapper {
            height: 100%;
            grid-template-rows: auto auto auto;
            .login-body-container {
                .login-body {
                    justify-content: center;
                    justify-items: center;
                    width: 100%;
                    background-color: $black;
                    border-radius: 0;
                    padding: 60px 0;
                    height: 650px;
                    .form-wrapper {
                        .form-container {
                            width: 320px;
                        }
                        .login-btn {
                            box-sizing: border-box;
                            width: 320px;
                        }
                    }
                    .other-login-method {
                        margin: 0 1vw;
                    }
                }
            }
        }
    }
    .logout-container {
        height: 100vh;
        .logout-body {
            width: 95%;
            box-sizing: border-box;
            padding: 20px 15px;
        }
        footer {
            .site-footer {
                .site-footer-link {
                    grid-template-columns: auto auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .logout-container {
        height: 100vh;
        header {
            width: 100vw;
            justify-content: space-between;
            gap: 5px;
            .signIn-btn  {
                margin-right: 3vw;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .logout-container {
        height: 100%;
    }
}

@media only screen and (max-width: 281px) {
    .login-container {
        .login-wrapper {
            .login-body-container {
                .login-body {
                    .form-wrapper {
                        .form-container {
                            width: 275px;
                        }
                        .login-btn {
                            width: 275px;
                        }
                    }
                }
            }
            footer {
                .site-footer {
                    .site-footer-link {
                        grid-template-columns: auto auto;
                    }
                }
            }
        }
    }
    .logout-container {
        header {
            justify-content: space-between;
            a {
                svg {
                    width: 5rem;
                    height: 1.4rem;
                }
            }
            .signIn-btn {
                margin-right: 3%;
            }
        }
    }
}