@import "./variables.scss";
@import "./mixin.scss";

.card {
    display: grid;
    grid-auto-flow: row;
    width: 225px;
    height: 125px;
    transition-duration: $animation-duration;
    position: relative;
    z-index:1;
    margin: 5px 0 5px 0;

    &:before {
        content: "";
        display: block;
        padding-top: calc(125 / 225 * 100%);
    }

    &:hover {
        z-index: 300;
    }

    &:hover .card-inner {
        width: 335px;
        height: 350px;
        .img-container {
            width: 335px;
            height: 200px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .card-body {
            display: grid;
            width: 335px;
            height: 150px;
            background-color: black;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            grid-template-rows: 42px 42px 42px;
            align-content: start;
            align-items: start;
            opacity: 1;
            .btn-container {
                display: grid;
                grid-template-columns: 60% 40%;
                height: 42px;
                align-content: center;
                align-items: center;
                & div {
                    display: grid;
                    grid-template-columns: 42px 42px 42px;
                    height: 42px;
                    gap: 5px;
                    justify-content: start;
                    justify-items: start;
                    .icon {
                        @include icon($size: 100%);
                        &:hover {
                            fill: darken($color: $white, $amount: 50%);
                        }
                    }
                }
                .right-icon-container {
                    grid-template-columns: auto;
                    height: 42px;
                    justify-content: end;
                    justify-items: end;
                    padding-right: 5px;
                    .icon {
                        @include icon($size: 42px);
                        &:hover {
                            fill: darken($color: $white, $amount: 50%);
                        }
                    }
                }
            }
            .detail-container {
                padding-left: 3%;
                display: grid;
                grid-auto-flow: column;
                gap: 5px;
                color: $white;
                justify-content: start;
                justify-items: start;
                align-content: center;
                align-items: center;
                height: 42px;
                p.detail-type {
                    font-size: $font-size-normal-small;
                    font-weight: 500;
                }
                .icon {
                    @include icon($color: darken($color: $white, $amount: 50%),$size: 70%);
                }
            }
            .genre-container {
                padding-left: 3%;
                display: grid;
                grid-auto-flow: column;
                gap: 10px;
                justify-content: start;
                justify-items: start;
            }
        }
    }

    .card-inner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-out;
        transform-origin: top left;
        z-index: 1;
        .img-container {
            width: 225px;
            height: 125px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            transition: width $animation-duration ease-in;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
                z-index: 98;
            }
            p {
                position: absolute;
                bottom: 5%;
                left: 5%;
                font-size: $font-size-normal-medium;
                color: #fafafa;
                z-index: 100;
            }
            .gradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 99;
                border-radius: 4px;
                background: rgba(20,20,20,.25);
            }
        }
        .card-body {
            width: 225px;
            height: 0;
            transition: width $animation-duration ease-in;
            opacity: 0;
        }

    }

    &.last-card-in-row {
        .card-inner {
            transition: width 0.5s, height 0.5s, top 0.5s, right 0.5s;
            top: 0;
            right: 0;
        }
    }
    &:hover.last-card-in-row {
        .card-inner {
            right: -18px;
        }
    }
}