@import "./variables.scss";
@import "./mixin.scss";

.card {
    display: grid;
    grid-auto-flow: row;
    width: 225px;
    height: 125px;
    transition-duration: $animation-duration;
    position: relative;
    z-index:1;
    margin: 5px 0 5px 0;

    &:before {
        content: "";
        display: block;
        padding-top: calc(125 / 225 * 100%);
    }

    &:hover {
        z-index: 300;
    }

    &:hover .card-inner {
        width: 335px;
        height: 350px;
        .img-container {
            transition-delay: $animation-duration;
            width: 335px;
            height: 200px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .card-body {
            transition-delay: $animation-duration;
            display: grid;
            width: 335px;
            height: 150px;
            background-color: black;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .card-inner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-out;
        transform-origin: top left;
        z-index: 1;
        .img-container {
            width: 225px;
            height: 125px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            transition-duration: $animation-duration;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
                z-index: 98;
            }
            p {
                position: absolute;
                bottom: 5%;
                left: 5%;
                font-size: $font-size-normal-medium;
                color: #fafafa;
                z-index: 100;
            }
            .gradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 99;
                border-radius: 4px;
                background: rgba(20,20,20,.25);
            }
        }
        .card-body {
            transition-duration: $animation-duration;
            width: 225px;
            height: 0;
        }

    }

    &.last-card-in-row {
        .card-inner {
            transition: width 0.5s, height 0.5s, top 0.5s, right 0.5s;
            top: 0;
            right: 0;
        }
    }
    &:hover.last-card-in-row {
        .card-inner {
            right: -18px;
        }
    }
}