@import "./variables.scss";
@import "./mixin.scss";

.header-container {
    height: 68px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px auto;
    gap: 20px;
    align-content: center;
    padding: 0 3%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 100;
    .svg-icon-netflix-logo {
        @include logo($width: calc(10.4375rem / 1.75), $height: calc(2.8125rem / 1.75));
    }
    .navigation-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-content: center;
        .navigation-items {
            display: grid;
            grid-auto-flow: column;
            gap: 20px;
            align-items: center;
            li {
                a {
                    text-decoration: none;
                    font-size: $font-size-normal-small;
                    color: white;
                    transition: $profiles-transition;
                    &.active {
                        font-weight: $font-weight-bold;
                        pointer-events: none;
                    }
                    &:hover {
                        color: $dim-gray;
                    }
                    &.btn-back-to-profile {
                        background-color: $red-logo;
                        padding: 6px 24px;
                        border-radius: 4px;
                        font-weight: $font-weight-semi-bold;
                        &:hover {
                            color: $white;
                            background-color: darken($red-logo, 10%);
                        }
                    }
                }
                .header-icons {
                    fill: $white;
                }
                &.dropdown-btn, &.profile-img {
                    display: grid;
                    grid-template-columns: auto auto;
                    align-content: center;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 4px;
                    }
                    .header-icons-arrow {
                        transition: 0.2s;
                    }
                    &:hover {
                        .header-icons-arrow {
                            transform: rotate(180deg);
                        }
                    }
                }
                &.profile-img {
                    pointer-events: none;
                }
            }
        }
    }
    &.scrolled {
        background-color: $profile-bg;
    }
}