@import "./variables.scss";
@import "./mixin.scss";

.section-1 {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/home/home-screen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px;
    text-align: center;
    .header {
        padding-top: 25px;
        height: 45px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: 0 3.5rem;
        .svg-icon-netflix-logo {
            width: 10.4375rem;
            height: 2.8125rem;
            padding-top: 0;
        }
        .signInAndLanguage {
            width: 260px;
            display: grid;
            grid-template-columns: auto auto;
            height: 45px;
            gap: 10px;
            justify-content: start;
            .auth-btn {
                height: 45px;
                background-color: $dark-red;
                line-height: normal;
                padding: 0 17px;
                font-weight: $font-weight-normal;
                font-size: $font-size-normal;
                color: $white;
                border-radius: 3px;
                display: grid;
                align-content: center;
            }
        }
    }
    .content {
        width: 100%;
        max-width: 950px;
        padding: 145px 0 75px 0;
        margin: 0 auto;
        text-align: center;
        color: $white;
        .hero-card {
            margin: 0 auto;
            line-height: 1.1;
            max-width: 640px;
            font-weight: $font-weight-semi-bold;
        }
        .our-story {
            margin: 1rem auto;
            max-width: 640px;
            font-weight: $font-weight-normal;
        }
        .email-form {
            @include emailForm;
        }
    }
}

.section-2,
.section-4 {
    @include section;
    .animation-container {
        @include animationContainer;
        .animation-container-text {
            @include containerText;
            .animation-container-text-content {
                @include animationContainerTextContent;
            }
            .animation-container-text-title {
                @include animationContainerTextTitle;
            }
        }
        .animation-container-img {
            width: 80%;
            height: 100%;
            box-sizing: border-box;
            .animation-container-img-container {
                margin: -10% -5% -5% 0;
                position: relative;
                overflow: hidden;
                display: block;
                img {
                    position: relative;
                    z-index: 2;
                    max-width: 100%;
                    height: auto;
                    border: 0;
                }
                .animation-container-img-animation {
                    width: 100%;
                    height: 100%;
                    max-width: 73%;
                    max-height: 55%;
                    position: absolute;
                    top: 48%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    video {
                        width: 100%;
                        height: 100%;
                    }
                }
                .animation-section-4 {
                    max-width: 65%;
                    top: 35%;
                }
            }
        }
    }
}

.section-3,
.section-5 {
    @include section;
    .animation-container {
        @include animationContainer;
        .animation-container-img {
            margin: -8px 0 -4% -15%;
            min-height: 100px;
            width: 100%;
            position: relative;
            img {
                width: 100%;
                height: auto;
                border: 0;
            }
            .animation-container-downloadAndWatch {
                padding: .5em .75em;
                position: absolute;
                left: 50%;
                bottom: 8%;
                transform: translateX(-50%);
                margin: 0 auto;
                background-color: $black;
                display: grid;
                grid-template-columns: 55px auto auto;
                gap: 10px;
                align-content: center;
                align-items: center;
                width: 50%;
                min-width: 15em;
                border: 2px solid $border-gray-transparent;
                box-shadow: 0 0 2em 0 $black;
                border-radius: .75em;
                .downloadAndWatch-img {
                    display: block;
                    margin: 0 1em 0 0;
                    img {
                        max-width: 55px;
                        height: auto;
                    }
                }
                .downloadAndWatch-text {
                    margin: 0.3em 0;
                    &-title {
                        font-size: $font-size-normal;
                        color: $white;
                        font-weight: $font-weight-semi-bold;
                    }
                    &-par {
                        font-size: $font-size-normal-small;
                        color: $royal-blue;
                    }
                }
                .downloadAndWatch-gif {
                    width: 3em;
                    height: 3em;
                    outline: 2px solid $black;
                    display: block;
                    background: url('../images/home/download-icon.gif') center center no-repeat;
                    background-size: 100%;
                    content: '';
                }
            }
        }
        .animation-container-text {
            @include containerText;
            .animation-container-text-content {
                @include animationContainerTextContent;
            }
            .animation-container-text-title {
                @include animationContainerTextTitle;
            }
        }
    }
}

.section-6 {
    @include section;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    .title {
        line-height: 1.1;
        margin-bottom: 0.5rem;
    }
    .email-form {
        @include emailForm;
    }
}

.section-7  {
    @include section;
    padding-bottom: 0;
    margin: 0 auto;
    .footer-container {
        margin-top: 0;
        min-width: 190px;
        width: 100%;
        padding-bottom: 20px;
        font-size: $font-size-normal;
        color: $dim-gray;
        .site-footer {
            margin: 0 auto;
            width: 815px;
            display: grid;
            grid-template-rows: 5% min-content 10% 5%;
            grid-gap: 30px;
            align-content: space-between;
            justify-content: start;
            text-align: left;
            .phone-number {
                a {
                    color: $dim-gray;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .site-footer-link {
                width: 815px;
                display: grid;
                grid-template-columns: repeat(auto-fit, 25%);
                justify-content: space-between;
                height: min-content;
                .col {
                    display: grid;
                    grid-auto-flow: row;
                    width: 100%;
                    gap: 0;
                    height: min-content;
                    a {
                        font-size: $font-size-footer;
                        margin-bottom: 16px;
                        color: $dim-gray;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .footer-country {
                font-size: $font-size-footer;
            }
        }
    }
}

.divider {
    display: block;
    min-width: 100vw;
    min-height: 10px;
    background-color: $light-gray;
}

@media only screen and (max-width:850px) {
    .section-1 {
        .content {
            @include emailForm850;
        }
    }
    .section-6 {
        margin: 0 auto;
        .accordion-container {
            width: 90%;
        }
        @include emailForm850;
    }
    .section-7 {
        .footer-container {
            .site-footer {
                width: 90%;
                grid-template-rows: auto auto auto auto;
                .phone-number,
                footer-country {
                    width: 90%;
                }
                .site-footer-link {
                    width: 80vw;
                    grid-template-columns: repeat(2, 45%);
                    gap: 15px;
                }
            }
        }
    }
    .section-3,
    .section-5,
    .section-2,
    .section-4 {
        .animation-container {
            width: 90%;
        }
    }
}

@media only screen and (max-width:650px) {
    .section-1 {
        .content {
            .hero-card {
                font-size: $font-size-large;
            }
            .our-story {
                font-size: $font-size-medium;
            }
            @include emailForm650;
        }
    }
    .section-6 {
        @include emailForm650;
        h1 {
            font-size: $font-size-large;
        }
        .accordion-container {
            .accordion-item {
                .accordion-item-header {
                    font-size: $font-size-medium;
                }
                .accordion-item-body {
                    p, a {
                        font-size: $font-size-medium;
                    }
                }
            }
        }
    }
    .section-3,
    .section-5,
    .section-2,
    .section-4 {
        .animation-container {
            grid-template-columns: auto;
            justify-content: center;
            gap: 10px;
            .animation-container-text {
                height: 10rem;
                padding-right: 0;
                h1 {
                    font-size: $font-size-large;
                }
                h2 {
                    font-size: $font-size-medium;
                }
            }
            .animation-container-img {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .section-1 {
        .header {
            margin: 0 1.5rem;
            justify-content: space-between;
            grid-gap: 5px;
            .svg-icon-netflix-logo {
                width: 6rem;
                height: 1.9rem;
            }
            .signInAndLanguage {
                width: 220px;
                grid-gap: 5px;
                justify-content: end;
                .select-arrow {
                    &::before {
                        width: 10px;
                        height: 10px;
                    }
                    select {
                        width: 110px;
                        font-size: $font-size-extra-small;
                        padding: .5rem .5rem .5rem 1rem;
                    }
                }
                .auth-btn {
                    padding: 7px 14px;
                    font-size: $font-size-extra-small;
                }
            }
        }
        .content {
            @include emailForm520;
        }
    }
    .section-6 {
        @include emailForm520;
        padding: 50px 0 75px 0;
        .accordion-container {
            width: 65%;
        }
    }
}