@import './variables.scss';

@mixin section {
    text-align: center;
    padding: 50px 0;
    color: $white;
    background-color: $black;
    width: 100vw;
}

@mixin animationContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 52%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 5px;
}

@mixin containerText {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    align-items: center;
    line-height: 1.1;
    padding-right: 3rem;
    height: 100%;
}

@mixin animationContainerTextTitle {
    font-weight: $font-weight-semi-bold;
    margin-bottom: .5rem;
}

@mixin animationContainerTextContent {
    font-weight: $font-weight-normal;
    margin: .75em 0 .25em;
}