@import "./variables.scss";
@import "./mixin.scss";

.modal {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $profile-bg;
    max-width: 850px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      background-color: $profile-bg;
      border-radius: 5px;
      max-width: 850px;
      width: 100%;
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    }

    .modal-skeleton {
      padding: 20px;
    }
}