@import "./variables.scss";
@import "./mixin.scss";

.modal {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $profile-bg;
    max-width: 850px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    .modal-content {
      background-color: $profile-bg;
      border-radius: 5px;
      max-width: 850px;
      width: 100%;
      max-height: calc(100vh - 100px);
      height: 100%;
      overflow-y: scroll;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      /* cacher la scrollbar */
      scrollbar-width: none; /* pour Firefox */
      -ms-overflow-style: none; /* pour Internet Explorer et Edge */

      &::-webkit-scrollbar {
        display: none;
      }

      .modal-header {
        max-width: 850px;
        max-height: 480px;
        position: relative;
        z-index: 1;
        .img-container {
          width: 100%;
          height: 100%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
          .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background-image: linear-gradient(0deg,#181818,transparent 40%);
            z-index: 2;
          }
        }
        .header-content {
          overflow: hidden;
          position: absolute;
          bottom: 5%;
          left: 3em;
          width: 40%;
          opacity: 1;
          z-index: 3;
          color: $white;
          .btn-container {
            padding-top: 20px;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;
            justify-content: start;
            justify-items: start;
            button {
              max-height: 42px;
              min-height: 32px;
              .icon {
                @include icon;
                &:hover {
                  fill: darken($color: $white, $amount: 50%);
              }
              }
            }
            .btn-play {
              @include playButton;
              max-height: 42px;
              min-height: 32px;
              .icon {
                @include icon($size: 100%, $color: $black);
                transform: rotate(-90deg);
              }
            }
          }
        }
      }

      .modal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px 3%;
        color: white;
        .left-info {
          display: grid;
          grid-auto-flow: row;
          .info-content-details {
            display: grid;
            grid-auto-flow: column;
            gap: 15px;
            align-content: center;
            align-items: center;
            justify-content: start;
            justify-items: start;
            font-weight: $font-weight-semi-bold;
            .icon {
              @include icon($size: $font-size-normal);
            }
            .vote-average {
              font-weight: $font-weight-bold;
              color: $green-color
            }
          }
          .info-content-maturity-rating {
            padding-top: 10px;
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            justify-content: start;
            justify-items: start;
            .icon {
              height: 1.5em;
              transform: scale(1);
            }
          }
          .info-content-overview {
            padding-top: 10px;
            p {
              line-height: 1.2em;
            }
          }
        }
        .right-info {
          margin-left: 10%;
          div {
            margin-bottom: 5px;
          }
          p {
            span.title {
              color: $dim-gray;
              font-weight: $font-weight-semi-bold;
            }
          }
        }
      }

      .modal-collection {
        padding: 20px 3%;
        h2 {
          display: grid;
          grid-auto-flow: column;
          gap: 15px;
          align-content: center;
          align-items: center;
          justify-content: start;
          justify-items: start;
          color: $white;
        }
        .short-card-container {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 10px;
          justify-content: start;
          justify-items: start;
          grid-auto-rows: min-content;
          padding: 20px 0;
        }
      }
    }

    .modal-skeleton {
      padding: 20px;
    }
}