@import "./variables.scss";
@import "./mixin.scss";

.modal {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $profile-bg;
    max-width: 850px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    .modal-content {
      background-color: $profile-bg;
      border-radius: 5px;
      max-width: 850px;
      width: 100%;
      max-height: calc(100vh - 100px);
      height: 100%;
      overflow-y: scroll;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      /* cacher la scrollbar */
      scrollbar-width: none; /* pour Firefox */
      -ms-overflow-style: none; /* pour Internet Explorer et Edge */

      &::-webkit-scrollbar {
        display: none;
      }

      .modal-header {
        max-width: 850px;
        max-height: 480px;
        position: relative;
        z-index: 1;
        .img-container {
          width: 100%;
          height: 100%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
          .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background-image: linear-gradient(0deg,#181818,transparent 40%);
            z-index: 2;
          }
        }
        .header-content {
          overflow: hidden;
          position: absolute;
          bottom: 5%;
          left: 3em;
          width: 40%;
          opacity: 1;
          z-index: 3;
          color: $white;
          .btn-container {
            padding-top: 20px;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;
            justify-content: start;
            justify-items: start;
            button {
              max-height: 42px;
              min-height: 32px;
              .icon {
                @include icon;
                &:hover {
                  fill: darken($color: $white, $amount: 50%);
              }
              }
            }
            .btn-play {
              @include playButton;
              max-height: 42px;
              min-height: 32px;
              .icon {
                @include icon($size: 100%, $color: $black);
                transform: rotate(-90deg);
              }
            }
          }
        }
      }

      .modal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px 3%;
        color: white;
        .left-info {
          display: grid;
          grid-auto-flow: row;
          .info-content-details {
            display: grid;
            grid-auto-flow: column;
            gap: 15px;
            align-content: center;
            align-items: center;
            justify-content: start;
            justify-items: start;
            font-weight: $font-weight-semi-bold;
            .icon {
              @include icon($size: $font-size-normal);
            }
            .vote-average {
              font-weight: $font-weight-bold;
              color: $green-color
            }
          }
          .info-content-maturity-rating {
            padding-top: 10px;
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            justify-content: start;
            justify-items: start;
            .icon {
              height: 1.5em;
              transform: scale(1);
            }
          }
          .info-content-overview {
            padding-top: 10px;
            p {
              line-height: 1.2em;
            }
          }
        }
        .right-info {
          margin-left: 10%;
          div {
            margin-bottom: 5px;
          }
          p {
            span.title {
              color: $dim-gray;
              font-weight: $font-weight-semi-bold;
            }
          }
        }
      }

      .modal-collection {
        padding: 20px 3%;
        h2 {
          display: grid;
          grid-auto-flow: column;
          gap: 15px;
          align-content: center;
          align-items: center;
          justify-content: start;
          justify-items: start;
          color: $white;
        }
        .short-card-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, 240px);
          grid-auto-rows: min-content;
          grid-gap: 10px;
          justify-content: start;
          justify-items: start;
          grid-auto-flow: row;
          padding: 20px 0;
          max-width: 800px;
        }
      }

      .modal-episodes {
        padding: 20px 3%;
        .modal-episodes-header {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-between;
          padding-bottom: 20px;
          .modal-episodes-header-left {
            display: grid;
            grid-auto-flow: row;
            gap: 15px;
            align-content: center;
            align-items: center;
            justify-content: start;
            justify-items: start;
            color: $white;
          }
          .modal-episodes-header-right {
            justify-self: end;
            select {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              min-width: 4em;
              position: relative;
              font-size: 1.2em;
              background-color: rgb(36, 36, 36);
              padding: 0.5em 1em;
              color: white;
              cursor: pointer;
              border: 0.1em solid rgb(77, 77, 77);
              border-radius: 0.2em;
              &:focus {
                outline: none;
              }
            }
          }
        }
        .modal-episodes-list {
          display: grid;
          grid-auto-flow: row;
          gap: 0;
          .episode-container {
            border-top: 1px solid #404040;
            align-items: center;
            border-bottom: 1px solid #404040;
            border-radius: 0.25em;
            cursor: pointer;
            display: flex;
            min-height: 8em;
            overflow: hidden;
            padding: 1em;
            position: relative;
            transition: all $animation-duration ease-in-out;

            .episode-number {
              color: #d2d2d2;
              display: flex;
              flex: 0 0 7%;
              font-size: 1.5em;
              justify-content: center;
            }

            .episode-image {
              border-radius: 4px;
              flex: 0 0 18%;
              overflow: hidden;
              position: relative;
              img {
                display: block;
                max-width: 100%;
                z-index: 1;
              }
              .icon {
                transition: all $animation-duration ease-in-out;
                @include icon($size: 80%, $color: rgba(0, 0, 0, 0.35));
                stroke: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                opacity: 0;
              }
            }

            .episode-info {
              flex: 0 0 70%;
              font-size: 1em;
              min-height: 100%;
              .episode-title {
                display: flex;
                justify-content: space-between;
                padding: 1em 1em 0.5em;
                color: $white;
                font-weight: $font-weight-semi-bold;
                overflow-wrap: anywhere;
              }
              .episode-overview {
                color: #d2d2d2;
                margin: 0;
                padding: 0 1em 1em;
              }
            }

            &:hover {
              background-color: $dark-gray;

              .icon {
                opacity: 1;
              }
            }
          }
          .show-more {
            margin-top: 20px;
            justify-self: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            .icon {
              @include icon($size: 42px, $color: hsla(0,0%,100%,.5));
            }
            &:hover .icon {
              @include icon($size: 42px, $color: #545454);
            }
          }
        }
      }

      .modal-more-like-this {
        padding: 20px 3%;
        .modal-more-like-this-title {
          font-weight: $font-weight-semi-bold;
          color: $white;
        }
        .short-card-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, 240px);
          grid-auto-rows: min-content;
          grid-gap: 10px;
          justify-content: start;
          justify-items: start;
          grid-auto-flow: row;
          padding: 20px 0;
          max-width: 800px;
        }
      }
    }

    .modal-skeleton {
      padding: 20px;
    }
}