@import "./variables.scss";
@import "./mixin.scss";

.profiles-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    background-color: $profile-bg;

    header {
        height: 90px;
        display: grid;
        align-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        justify-content: space-between;
        background: linear-gradient(rgba($black, 0.5) 10%, rgba($black, 0.01) 90%);
        a {
            svg {
                margin-left: 3vw;
                @include logo($width: calc(10.4375rem / 1.5), $height: calc(2.8125rem / 1.5));
            }
        }
    }

    .profiles-content {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: start;
        align-items: center;
        padding-top: 200px;
        h2 {
            font-size: $font-size-extra-large;
            font-weight: $font-weight-medium;
            color: $white;
            margin-bottom: 0.67em;
        }
        .profiles-list {
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(84px, 200px));
            justify-content: center;
            justify-items: center;
            grid-gap: 5px;
            .profile-item {
                display: grid;
                justify-content: center;
                justify-items: center;
                cursor: pointer;
                color: $dim-gray;
                text-decoration: none;
                grid-gap: 10px;
                transition: $profiles-transition;
                .profile_pic_container {
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 10vw;
                    width: 10vw;
                    max-height: 200px;
                    max-width: 200px;
                    min-height: 84px;
                    min-width: 84px;
                    overflow: hidden;
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    align-content: center;
                    align-items: center;
                    .profile_pic {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .svg_icon_profile_pic {
                        height: 90%;
                        width: 90%;
                        fill: $dim-gray;
                    }
                }
                .profile_pic_container_edit {
                    position: relative;
                    background-color: black;
                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        width: 30%;
                        height: 30%;
                        fill: antiquewhite;
                        transform: translate(-50%, -50%);
                    }
                    .profile_pic  {
                        opacity: 0.6;
                    }
                }
                &:hover {
                    color: $white;
                    .profile_pic_container {
                        border: 2px solid $white;
                    }
                    .p_container_svg {
                        border: none;
                        background-color: $white;
                    }
                }
            }
        }
        .btn_edit_profile {
            display: grid;
            justify-content: center;
            justify-items: center;
            justify-self: center;
            align-content: center;
            align-items: center;
            border: 1px solid $dim-gray;
            color: $dim-gray;
            font-size: $font-size-normal;
            font-weight: $font-weight-medium;
            padding: 0.5em 1.5em;
            cursor: pointer;
            letter-spacing: 2px;
            transition: $profiles-transition;
            margin: 4em 0;
            text-decoration: none;
            &:hover {
                color: $white;
                border-color: $white;
            }
        }

        .btn_manage_profile {
            text-transform: uppercase;
            color: $dark-slate-gray;
            &:hover {
                border-color: $red-logo;
                background-color: $red-logo !important;
                color: $white;
            }
        }
    }
    .profiles-content-add {
        justify-content: center;
        justify-items: start;
        width: 100%;
        .content-add-header {
            border-bottom: 1px solid $dim-gray;
            padding-bottom: 25px;
            width: 100%;
            p {
                color: $dim-gray;
                font-size: $font-size-medium;
            }
        }
        .content-add-body {
            margin-top: 25px;
            padding-bottom: 25px;
            display: grid;
            grid-template-columns: min-content 300px 100px;
            grid-gap: 20px;
            align-content: center;
            align-items:center;
            border-bottom: 1px solid $dim-gray;
            .profile_pic_container {
                box-sizing: border-box;
                border-radius: 4px;
                height: 10vw;
                width: 10vw;
                max-height: 200px;
                max-width: 200px;
                min-height: 125px;
                min-width: 125px;
                overflow: hidden;
                display: grid;
                justify-content: center;
                justify-items: center;
                align-content: center;
                align-items: center;
                .profile_pic {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .form-container {
                .form-field {
                    .form-field-control {
                        background-color: $dim-gray;
                        .form-field-label {
                            color: $white;
                        }
                        .form-field-input {
                            min-width: 300px;
                            color: $white;
                        }
                    }
                }
            }
            .kid-checkbox {
                @include autoPlayCheckbox;
                label {
                    font-size: $font-size-medium;
                }
            }
        }
        .content-add-footer {
            margin-top: 25px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 25px;
            .btn {
                font-size: $font-size-medium;
                letter-spacing: 2px;
                margin: 2em, 0 1em 0;
                padding: 0.5em 1.5em;
                color: $dim-gray;
                transition: $profiles-transition;
            }
            .btn-add-continue {
                background-color: $white;
                border: none;
                color: $profile-bg;
                font-weight: $font-weight-bold;
                &:hover {
                    background-color: $red-logo;
                    color: $white;
                }
            }
            .btn-add-cancel {
                border: 1px solid $dim-gray;
                &:hover {
                    border-color: $white;
                    color: $white;
                }
            }
        }
    }
    .profile-edit-container {
        color: $white;
        display: grid;
        justify-content: center;
        grid-auto-rows: min-content;
        grid-gap: 25px;
        h2 {
            font-size: $font-size-extra-large;
            font-weight: $font-weight-bold;
        }
        .profile-edit-content-container {
            display: grid;
            grid-auto-flow: row;
            grid-gap: 25px;
            border-top: 1px solid $dark-gray;
            border-bottom: 1px solid $dark-gray;
            padding: 25px 0;
            .profile-edit-content-section {
                display: grid;
                grid-template-columns: 125px auto;
                grid-gap: 20px;
                .profile_pic {
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 10vw;
                    width: 10vw;
                    max-height: 200px;
                    max-width: 200px;
                    min-height: 125px;
                    min-width: 125px;
                    object-fit: cover;
                }
                .right-content-section {
                    display: grid;
                    grid-auto-flow: row;
                    align-content: space-between;
                    .right-content-section-content {
                        h4 {
                            font-size: $font-size-medium;
                            font-weight: $font-weight-medium;
                            color: $light-gray;
                            margin-bottom: 10px;

                        }
                        ul {
                            display: grid;
                            grid-auto-flow: column;
                            justify-content: start;
                            grid-gap: 10px;
                            li {
                                padding: 7px 10px;
                                border-radius: 2px;
                                background-color: $dark-gray;
                                font-weight: $font-weight-semi-bold;
                            }
                        }
                        p {
                            margin: 15px 0 50px 0;
                        }
                        .btn {
                            @include btnProfile;
                        }
                        .autoplay-checkbox {
                            @include autoPlayCheckbox($boxSize: 28px, $inputPadding: 13.5px, $checkedX: -4px, $checkedY: 4px, $fontSize: 24px);
                            label {
                                font-size: $font-size-normal;
                            }
                        }
                    }
                }
                .right-content-section-with-border {
                    border-top: 1px solid $dark-gray;
                    padding: 25px 0;
                }
            }
        }
        .btn-container {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 25px;
            justify-content: start;
            .btn {
                @include btnProfile;
                &-save {
                    @include btnProfile($bgColor: $white, $color: $dark-gray, $hoverBorderColor: $red-logo, $hoverColor: $white, $hoverBGColor: $red-logo);
                }
            }
        }
    }
}