@import "./variables.scss";
@import "./mixin.scss";


.search-body-container {
    display: grid;
    color: $white;
    padding: 0 50px;
    min-height: 750px;
    height: 750px;
    align-content: start;
    padding-bottom: 50px;
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        overflow: hidden;
        justify-content: center;
        justify-items: center;
        align-content: start;
        min-height: 750px;
        height: 900px;
        position: relative;
    }
}

@media only screen and (min-width: 2560px) {
    .search-body-container {
        min-height: 600px;
        height: 600px;
        .card-container {
            min-height: 500px;
            height: 600px;
        }
    }
}