@import "./variables.scss";
@import "./mixin.scss";

.slider-container {
    position: relative;;
    width: 100%;
    height: 225px;
    max-height: 225px;
    z-index: 200;
    padding-left: 3%;
  }

.slider-position {
  &-1 {
    z-index: 1000;
  }
  &-2 {
    z-index: 900;
  }
  &-3 {
    z-index: 800;
  }
  &-4 {
    z-index: 700;
  }
  &-5 {
    z-index: 600;
  }
  &-6 {
    z-index: 500;
  }
  &-7 {
    z-index: 400;
  }
  &-8 {
    z-index: 300;
  }
  &-9 {
    z-index: 200;
  }
  &-10 {
    z-index: 100;
  }
}

.slider-wrapper-container {
  position: relative;
  height: 125px;
  .slider-wrapper {
    transform: translateY(0);
    .slider-item {
      .card {
        margin: 0;
      }
    }
  }
}

  .slider-wrapper {
    display: grid;
    grid-auto-flow: column;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 250;
  }

  .slider-item {
    display: grid;
    width: 100%;
    height: 125px;
    margin-right: 10px;
    &.slider-item:hover {
        justify-content: center;
        position: relative;
        z-index: 301;
        width: 100%;
        height: 360px;
      }
  }

  .slider-title {
    font-weight: $font-weight-semi-bold;
    text-align: left;
    color: $white;
    padding: 0 0 20px 0;
  }

  .slider-button {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1200;
    height: 127px;
    width: 50px;
    opacity: 1; // set back to 0 after testing
    transition: opacity 0.3s ease-in-out;
    .icon {
        transition: transform 0.3s ease-in-out;
        @include icon;
    }
    &:hover {
        opacity: 1;
        .icon {
            transform: scale(1.1);
        }
    }
  }

  .slider-button-prev {
    left: -55px;
    transform: rotate(180deg);
  }

  .slider-button-next {
    right: 65px;
    margin-right: 0;
    opacity: 1; // delete after testing
  }

@media only screen and (min-width: 2560px) {
  .slider-button-prev {
    left: -105px;
  }
  .slider-button-next {
    right: 115px;
  }
}

@media only screen and (orientation : landscape) {
  /* Styles */
  .slider-mobile {
    .slider-button {
      opacity: 1;
    }
    .slider-button-next {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .slider-button-prev {
    left: -40px;
  }
  .slider-button-next {
    right: 55px;
  }
}

@media only screen and (max-width: 1180px) {
  .slider-button-prev {
    left: -40px;
  }
  .slider-button-next {
    right: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .slider-button-prev {
    left: -20px;
  }
  .slider-button-next {
    right: 0;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 915px) {
  .slider-button-prev {
    left: -30px;
  }
  .slider-button-next {
    right: 0;
    margin-right: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .slider-button-prev {
    left: -20px;
  }
  .slider-button-next {
    right: 20px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 540px) {
  .slider-button-next {
    right: 0;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 414px) {
  .slider-button-next {
    right: 10px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 280px) {
  .slider-button-next {
    right: 5px;
    margin-right: 0;
  }
}