// Variables

/*
*
* Colors
*
*/

$light-gray: #222222;
$white: #ffffff;
$black: #000000;
$light-red: #e30813;
$dark-red: #e50914;
$royal-blue: #0063cf;
$dark-slate-gray: #303030;
$dim-gray: #757569;
